<div class="row">
    <div class="col-md-12">
        <div class="btn-group-horizontal" role="group">
            <button type="button" ng-click="createFeature();" class="btn btn-info">Feature</button>
            <button type="button" ng-show="int==null" ng-click="createInt();" class="btn btn-success">
                Integration
            </button>
            <button type="button" ng-click="createHotFix();" class="btn btn-danger">Hot Fix
            </button>
            <button type="button" ng-click="createBugFix();" class="btn btn-warning">Bug Fix
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <canvas id="gitGraph"></canvas>
    </div>
</div>
